.header {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
  background: var(--bg-dark);
  top: 0px;
  padding: 0rem 10rem;
  border-bottom: 1px solid var(--text-light);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  padding: 0.5rem 0;
  margin-right: 5rem;
}

.MenuItens {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 50px;
  color: var(--text-light);
}

@media (min-width: 1500px) {
  .header {
    padding: 0rem 15rem;
  }
}