.MovieDirector {
    color: var(--blue);
}

.MovieOverview {
    padding: 3rem 0rem;
    font-size: 14px;
}

.MovieTagline {
    padding: 3rem 0rem;
    font-style: italic;
    text-align: end;
}

.Quote {
    font-size: 16px;
    font-weight: 500;
}

.Title {
    font-weight: 300;
    font-size: 14px;
}

.MovieRating {
    justify-self: end;
    width: 100%;
}