:root {
  --bg-dark: #050A0A;
  --text-light: #f1f0f4;
  --text-light-gray: #d9d7f5;
  --gray: #68667ec7;
  --blue: #86A8E4;
  --red: #92202A;
  --orange: #C8743C;
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: var(--text-light);
  --type-main: var(--type-main-inter);
  --type-second: var(--type-second-gelasio);
  font-family: var(--type-main);
  background-color: var(--bg-dark);
  padding-top: 4rem;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--blue);
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 2rem;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.AppBody {
  flex: 1;
}

.Content {
  padding: 8rem 10rem;
}

.BannerTitle {
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.SubTitle {
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
}

/* Animações */

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.5s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.animeDown {
  opacity: 0;
  transform: translateY(-20px);
  animation: animeDown 0.5s forwards;
}

@keyframes animeDown {
  to {
    opacity: 1;
    transform: initial;
  }
}

.text-focus-in {
    opacity: 0;
    filter: blur(12px);
    animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
  to {
    filter: blur(0px);
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
	animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

/* Media queries */

@media (min-width: 1500px) {
  .Content {
    padding: 8rem 15rem;
  }
}